<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="exERP_Full.Properties.Settings.ERP_ikiConnectionString"
            connectionString="Data Source=DESKTOP-JUST06P\MSSQLSERVER01;Initial Catalog=ERP_iki;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>